<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="icon" href="https://img.icons8.com/color/512/gears.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="~/css/styles.css">
	<style>
</style>
	<title>Dr.Sillystringz's Factory </title>
</head>

<body>
	<div id="nav">
		<div class="row">
			<div class="col-4">
				<p>@Html.ActionLink("Back Home", "Index", "Home")</p>
			</div>
			<div class="col-4">
				<p>@Html.ActionLink("Manage Engineers", "Index", "Engineers")</p>
			</div>
			<div class="col-4">
				<p>@Html.ActionLink("Manage Machines", "Index", "Machines")</p>
			</div>
		</div>
	</div>
	@RenderBody()

	@await Html.PartialAsync("Footer")
</body>

</html