<div id="footer">  
  <div class="row">
    <p id="foot">@Html.ActionLink("Back Home", "Index", "Home")</p>
    <p id="foot">@Html.ActionLink("Manage List of Engineers", "Index", "Engineers")</p>
    <p id="foot">@Html.ActionLink("Manage List of Machines", "Index", "Machines")</p>
  </div>
</div>
