@{
	Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1 id="welcome-header"><img src="https://img.icons8.com/color/128/gears.png">Are you sure you want to delete this Engineer?</h1>

<hr>

<div class="form">
	<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name) |
		<strong>Hire Date</strong>: @Html.DisplayFor(model => model.DateHired)
	</h3>
	<hr>

	@using (Html.BeginForm())
	{
		<input type="submit" value="Delete" class="btn btn-danger" />
	}
	<br>
	<p>@Html.ActionLink("Back to List", "Index")</p>
</div>