@{
	Layout = "_Layout";
}

@using Factory.Models;

<div class="container">
	<h1 id="welcome-header"><img src="https://img.icons8.com/color/128/gears.png">Engineers</h1>

	<hr>
	<div class="form">
		@if (@Model.Count == 0)
		{
			<h3>No Engineers have been added yet!</h3>
		}
		else
		{
			List<Engineer> engineerList = new List<Engineer>();
			@foreach (Engineer engineer in Model)
			{
				engineerList.Add(engineer);
			}
			List<Engineer> SortedList = engineerList.OrderBy(engineer => engineer.DateHired).ToList();
			<ul class="row">
				@foreach (Engineer e in SortedList)
				{
					<li id="engineer">@Html.ActionLink($"{e.Name}", "Details", new { id = e.EngineerId }) | <strong>Date
							Hired:</strong>
						@e.DateHired</li>
				}
			</ul>
		}
		<hr>
		<p id="link">@Html.ActionLink("Add new Engineer", "Create")</p>
	</div>
</div>